<div class="container pt">

  <div class="col-lg-6 col-lg-offset-3 centered">
    <h3>MY WORK</h3>
    <hr>
  </div>

  <div ng-repeat="content in contents">
    <div ng-class-odd="'grey'" ng-class-even="'white'">
        <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
              <!--<p><bd>{{content.created}}</bd></p>-->
            <!--<p></p>-->
            <h4>{{content.title}}</h4>
            <div ng-repeat="tag in content.tags"><bd>{{tag.text}}</bd></div>
            <p>{{content.outline}}</p>
            <div ta-bind ng-model="content.body"></div>
            <p><a href="content.github">Github</a></p>
          </div>

        </div><!-- /row -->
        </div> <!-- /container -->
    </div><!-- /grey -->
  </div>

<div>
