<!-- +++++ Welcome Section +++++ -->
<div id="ww">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 centered">
        <img src="img/user.png" alt="Tadhg">
        <h1>Hi, I'm Tadhg!</h1>
        <p>Hello everybody. I'm Tadhg, I'm a software developer from Ireland.
           My focus is on web development, really excited by AngularJS, Node.js and anything JavaScript related.
           <a ng-href="#/work">Learn More</a></p>
        <p>If you'd like to jump straight to my<a href="https://github.com/TadhgH"> github</a> be my guest!</p>
      </div>
    </div>
  </div>
</div>

<!-- +++++ Projects Section +++++ -->
<div class="container pt">
  <div class="row mt centered">
    <div class="col-lg-4">
      <a class="zoom green"><img class="img-responsive" ng-src="{{dataTech[0].img}}" alt="" /></a>
      <p>{{dataTech[0].name}}</p>
    </div>
    <div class="col-lg-4">
      <a class="zoom green"><img class="img-responsive" ng-src="{{dataTech[1].img}}" alt="" /></a>
      <p>{{dataTech[1].name}}</p>
    </div>
    <div class="col-lg-4">
      <a class="zoom green"><img class="img-responsive" ng-src="{{dataTech[2].img}}" alt="" /></a>
      <p>{{dataTech[2].name}}</p>
    </div>
  </div><!-- /row -->
  <div class="row mt centered">
    <div class="col-lg-4">
      <a class="zoom green"><img class="img-responsive" ng-src="{{dataTech[3].img}}" alt="" /></a>
      <p>{{dataTech[3].name}}</p>
    </div>
    <div class="col-lg-4">
      <a class="zoom green"><img class="img-responsive" ng-src="{{dataTech[4].img}}" alt="" /></a>
      <p>{{dataTech[4].name}}</p>
    </div>
    <div class="col-lg-4">
      <a class="zoom green"><img class="img-responsive" ng-src="{{dataTech[5].img}}" alt="" /></a>
      <p>{{dataTech[5].name}}</p>
    </div>
  </div><!-- /row -->
  <div class="row mt centered">
    <div class="col-lg-4">
      <a class="zoom green"><img class="img-responsive" ng-src="{{dataTech[6].img}}" alt="" /></a>
      <p>{{dataTech[6].name}}</p>
    </div>
    <div class="col-lg-4">
      <a class="zoom green"><img class="img-responsive" ng-src="{{dataTech[7].img}}" alt="" /></a>
      <p>{{dataTech[7].name}}</p>
    </div>
    <div class="col-lg-4">
      <a class="zoom green"><img class="img-responsive" ng-src="{{dataTech[8].img}}" alt="" /></a>
      <p>{{dataTech[8].name}}</p>
    </div>
  </div><!-- /row -->
</div><!-- /container -->
