<div class="container pt">
<form role="form">
  <span class="form-group">
      <label for="title">Title:</label>
      <input class="form-control" id="title" ng-model="content.title"/>
  </span>
  <span class="form-group">
      <label for="title">Title:</label>
      <input class="form-control" id="title" ng-model="content.github"/>
  </span>
  <span class="form-group">
      <label for="outlines">Outlines:</label>
      <textarea class="form-control" id="outlines" ng-model="content.outline"/></textarea>
  </span>
  <span class="form-group">
      <lable>Body:</lable>
      <text-angular ng-model="content.body"></text-angular>
      <!--<div contenteditable="true" ng-model="content.body" ng-bind-html="content.body"></div>-->
  </span>
  <br/>
  <span class="form-group">
      <label>Tags:</label>
      <tags-input ng-model="tags">
        <auto-complete source="loadTags($query)"></auto-complete>
    </tags-input>
  </span>
  <br/><br/><br/>
  <span class="form-group">
      <button ng-click="saveContent(content)" class="btn btn-success">SAVE</button>
      <button ng-click="deleteContent(content)" class="btn btn-danger">DELETE</button>
  </span>
</form>
</div>
